name: Docker build and publish

on:
  push:
    branches:
      - master
  schedule:
    # Run every Saturday at 3:17 AM UTC
    - cron: '17 3 * * 6'

jobs:
  linux-x86_64:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - target: construct
            implementation: python3.6
          - target: construct
            implementation: python3.14
          - target: cpp_stl
            implementation: clang3.4
          - target: cpp_stl
            implementation: clang18
          - target: cpp_stl
            implementation: gcc4.8
          - target: cpp_stl
            implementation: gcc13
          - target: csharp
            implementation: net8.0
          - target: csharp
            implementation: net10.0
          - target: go
            implementation: '1.25'
          - target: graphviz
            implementation: '12'
          - target: java
            implementation: temurin8
          - target: java
            implementation: temurin11
          - target: java
            implementation: temurin17
          - target: java
            implementation: temurin21
          - target: java
            implementation: temurin25
          - target: javascript
            implementation: nodejs10
          - target: javascript
            implementation: nodejs12
          - target: javascript
            implementation: nodejs18
          - target: javascript
            implementation: nodejs24
          - target: julia
            implementation: '1.9'
          - target: lua
            implementation: '5.3'
          - target: lua
            implementation: '5.4'
          - target: nim
            implementation: '1.6.20'
          - target: nim
            implementation: '2.2.6'
          - target: perl
            implementation: '5.30'
          - target: perl
            implementation: '5.42'
          - target: php
            implementation: '7.1'
          - target: php
            implementation: '8.4'
          - target: python
            implementation: '2.7'
          - target: python
            implementation: '3.4'
          - target: python
            implementation: '3.14'
          - target: ruby
            implementation: '1.9'
          - target: ruby
            implementation: '2.3'
          - target: ruby
            implementation: '3.4'
          - target: rust
            implementation: '1.89'
          - target: zig
            implementation: '0.15.2'

    steps:
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: checkout
        uses: actions/checkout@v4
      - name: build
        run: |
          cd "src/${{ matrix.image.target }}/${{ matrix.image.implementation }}-linux-x86_64"
          ./build
      - name: login
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: tag
        run: |
          docker tag "kaitai-${{ matrix.image.target }}-${{ matrix.image.implementation }}-linux-x86_64" "ghcr.io/kaitai-io/kaitai-${{ matrix.image.target }}-${{ matrix.image.implementation }}-linux-x86_64:latest"
      - name: publish
        run: |
          docker push "ghcr.io/kaitai-io/kaitai-${{ matrix.image.target }}-${{ matrix.image.implementation }}-linux-x86_64:latest"
